<aside class="col-md-12 d-none d-md-block bg-light sidebar pr-5">
  <div class="sidebar-sticky pt-4">
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link active" href="/admin/dashboard/products">
          Existencias
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/admin/dashboard/users"> Usuarios </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/admin/dashboard/finance"> Finanzas </a>
      </li>
      <!-- Divider -->
      <hr class="my-2" />
      <!-- New item with collapse functionality -->
      <li class="nav-item">
        <a class="nav-link" href="/admin/dashboard/reports"> Reportes </a>
      </li>
    </ul>
  </div>
</aside>
