h1, h2 {
    text-align: center;
    margin-top: 2rem;
}

.subtitle {
    text-align: center;
}

.center-text {
    text-align: center;
}

.right-text {
    text-align: right;
}

h3 {
    margin-top: 2rem;
    text-align: center;
}

h4 {
    margin-top: 2rem;
}