<link rel="stylesheet" href="/css/admin/admin-products.css">

<!-- views/admin/admin-users.ejs -->
<h2>Panel de existencias</h2>
<p class="subtitle">Aca podra crear listar eliminar o editar productos, edificios y existencias</p>

<div class="container">
    <!-- BUILDINGS INIT -->
    <div>
        <h3>Edificios</h3>
        <div class="row">
            <div class="col-md-6">
                <h4>Nuevo edificio</h4>
                <p>Ingrese el nombre y la ubicacion del edificio</p>
                <form action="/admin/insert-building" method="POST">
                    <div class="form-group">
                        <label for="building_name">Nombre</label>
                        <input type="text" class="form-control" name="building_name" id="building_name"
                            aria-describedby="building-id" placeholder="nombre del edificio">
                        <small id="building-id" class="form-text text-muted">Ingresa el nombre del edificio</small>
                    </div>
                    <div class="form-group">
                        <label for="building_direction">Ubicacion</label>
                        <input type="text" class="form-control" name="building_direction" id="building_direction"
                            aria-describedby="building_direction" placeholder="ubicacion xxx">
                        <small id="building_direction" class="form-text text-muted">Ingresa la direccion donde se
                            encuentra
                            el edificio</small>
                    </div>
                    <button type="submit" class="btn btn-primary">Registrar</button>
                </form>
            </div>
            <div class="col-md-6">
                <h4>Listado de edificios</h4>
                <div class="list-group">
                    <a href="#" class="list-group-item list-group-item-action active">EDIFICIOS</a>
                    <% buildings.forEach(building=> { %>
                        <a href="/admin/edit-building/<%=building.id%>" class="list-group-item list-group-item-action">
                            <%=building.name%>
                        </a>
                        <% }) %>
                            <a href="#" class="list-group-item list-group-item-action disabled">Selecciona un edificio
                                para
                                editarlo</a>
                </div>
            </div>
        </div>
    </div>
    <!-- BUILDINGS END -->
    <!-- Horizontal split line -->
    <div class="row">
        <div class="col">
            <hr class="split-line">
        </div>
    </div>
    <!-- end horizontal split line -->
    <!-- PLEDGES INIT  -->
    <div>
        <h3>Prendas</h3>
        <p class="subtitle">Aca podra ver todo lo relacionado con las prendas</p>
        <div class="row">
            <div class="col-md-4">
                <h4> Prenda</h4>
            </div>
            <div class="col-md-4">
                <h4> Inventario</h4>
            </div>
            <div class="col-md-4">
                <h4> Stock </h4>
                <a name="load-products-link" id="load-products-link" class="btn btn-outline-primary w-100"
                    href="/admin/load-products" role="button">listar</a>
            </div>
        </div>
    </div>
    <!-- PLEDGE END -->
</div>

<script src="/js/admin/admin-products.js"></script>