<div class="messages">
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <div>
        <div>

            <% if (typeof message !=='undefined' && message !='' ) { %>
                <div class="alert alert-primary alert-dismissible fade show" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        <span class="sr-only">Close</span>
                    </button>
                    <strong>Holy guacamole!</strong>
                    <%= message %>.
                </div>
        </div>
        <div>
            <% } %>
                <% if (typeof error_message !=='undefined' && error_message !='' ) { %>
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                            <span class="sr-only">Close</span>
                        </button>
                        <strong>Oops!</strong>
                        <%= error_message %>
                    </div>
                    <% } %>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
<script>
    $(document).ready(function () {
        $('.close').click(function () {
            $(this).closest('.alert').alert('close');
        });

    });

</script>

<script src="/js/bootstrap.js"></script>