<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <!-- Include Bootstrap CSS from CDN -->
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
</head>

<body>
    <div class="container mt-5">
        <div class="col-md-6 offset-md-3">
            <h1 class="text-center mb-4">Novedades Login</h1>
            <div>
                <%- include("partials/messages.ejs", { message: message, error_message: error_message }) %>
            </div>
            <form action="/signin" method="post">
                <div class="form-group">
                    <label for="id">Username:</label>
                    <input type="text" class="form-control" id="id" name="id" required>
                </div>
                <div class="form-group">
                    <label for="password">Password:</label>
                    <input type="password" class="form-control" id="password" name="password" required>
                </div>
                <button type="submit" class="btn btn-primary btn-block">Iniciar Sesion</button>
            </form>
        </div>
    </div>


    <!-- Include Bootstrap JS from CDN -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
</body>

</html>