<!-- views/admin/admin-users.ejs -->
<h2>Panel de productos</h2>
<% if (typeof message !=='undefined' ) { %>
    <div class="alert alert-danger" role="alert">
        <%= message %>
    </div>
    <% } %>